#add-device-form.modal.fade(tabindex='-1', style='display: none;')
  .modal-dialog
    .modal-content
      form(ng-submit='postNewDevice()')
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
          h3.modal-title New Device
        .modal-body
          abm-form-group
            label(abm-label) Name
            input(type='text', placeholder='New Device', ng-model='newDevice.name', abm-form-control)
          abm-form-group
            label(abm-label) Description
            input(type='text', placeholder='What does this device do?', ng-model='newDevice.description', abm-form-control)
          abm-form-group
            label(abm-label) Local IP Address:
            input(type='text', placeholder='127.0.0.1', ng-model='newDevice.ip', abm-form-control)
          abm-form-group
            label(abm-label) Trigger:
            input(type='text', placeholder='TODO', ng-model='newDevice.triggers', abm-form-control)
        .modal-footer
          button.btn.btn-primary(type='submit') Submit
