#add-device-form.modal.fade(tabindex='-1', style='display: none;')
  .modal-dialog
    .modal-content
      form(ng-submit='postNewDevice()')
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
          h3.modal-title New Device
        .modal-body
          abm-form-group
            label(abm-label) Name
            input(type='text', placeholder='New Device', ng-model='newDevice.name', abm-form-control)
          abm-form-group
            label(abm-label) Description
            input(type='text', placeholder='What does this device do?', ng-model='newDevice.description', abm-form-control)
          abm-form-group
            label(abm-label) Local IP Address:
            input(type='text', placeholder='127.0.0.1', ng-model='newDevice.ip', abm-form-control)
          abm-form-group
            label(abm-label) Trigger(s)
          abm-form-group.form-group-sm(ng-repeat='input in newDevice.triggers')
            div.row
              div.col-xs-6
                select.form-control(ng-model='newDevice.triggers[$index]',
                ng-options='trigger.name for trigger in triggers track by trigger._id')
        .modal-footer
          button.btn.btn-success(type='button', ng-click='addTrigger()') Add Trigger
          button.btn.btn-primary(type='submit') Submit
