.card-block.col-sm-4
  .panel.panel-info
    .panel-heading
      h3 {{device.name}}
      .progress.progress-striped.active.deviceStatus
        .progress-bar.progress-bar-info(style="width: 100%")
    .panel-body
      a.btn.btn-warning.btn-fab.btn-card.pull-right
        i.material-icons edit
      p.card-text {{device.description}}.
      h5.card-text {{device.ip}}
    footer.card-footer
      button.btn.btn-flat.btn-danger(ng-click="deleteDevice(device._id)") Remove
