.card-block.col-sm-2
  .card
    .card-block
      h4.card-title {{device.name}}
      p.card-text
        | {{device.description}}.
      h5 IP Address
        h6 {{device.ip}}
      h5 Triggers
        h6 {{device.triggers}}
      a.btn.btn-info(href='#') Edit
      a.btn.btn-danger(href='#') Remove
