.card-block.col-sm-4
  .panel.panel-info
    .panel-heading
      h3 {{input.name}}
    .panel-body
      a.btn.btn-warning.btn-fab.btn-card.pull-right
        i.material-icons edit
      p.card-text {{input.description}}.
      pre.prettyprint.lang-js {{input.requestType}} {{input.fullUrl}}

      h5(ng-show='input.params.length') Parameters
        table.table.table-condensed.table-responsive
          tr(ng-repeat='p in input.params')
            td {{p.key}}
            td {{p.value}}
      div(ng-show='input.response')
        h5 Response
        pre.prettyprint.lang-js(ng-bind='input.response')
    footer.card-footer
      button.btn.btn-flat.btn-info(ng-click="getInputData(input)") Test
      button.btn.btn-flat.btn-danger(ng-click="deleteInput(input._id)") Remove
