extends layout

block content
  div(ng-controller="inputsController")
    .card-deck-wrapper
      .card-deck(ng-repeat='input in inputs')
        iot-input

    a.btn.btn-info.btn-fab.btn-raised.btn-right-corner(ng-click='initNewInput()', data-toggle="modal", data-target="#add-input-form")
      i.material-icons add
      .ripple-container
    add-input-form
