extends layout

block content
  div(ng-controller="manageDeviceController")
    p Here is where all the devices are listed out

    a.btn.btn-info.btn-fab.btn-right-corner(data-toggle="modal", data-target="#add-device-form")
      i.material-icons add
      .ripple-container
    add-device-form
