extends layout

block content
  p Here is where all the devices are listed out
block controls
  a.btn.btn-info.btn-fab.btn-right-corner(href='javascript:void(0)')
    i.material-icons add
    .ripple-container
