extends layout

block content
  div(ng-controller="triggersController")
    div.pad-bottom-100
      .col-lg-2
      .col-lg-8
        .card
          .input-group
            span.input-group-addon
              i.material-icons search
            input.form-control(type='text', placeholder='Search for a trigger...', ng-model='triggerFilter')
      .col-lg-2
    .card-deck-wrapper
      .card-deck(ng-repeat='trigger in filteredTriggers')
        iot-trigger(trigger)

    a.btn.btn-info.btn-fab.btn-raised.btn-right-corner(data-toggle="modal", data-target="#add-trigger-form")
      i.material-icons add
      .ripple-container
    add-trigger-form
