.btn.btn-fab.btn-right-corner {
  position: fixed;
  right: 24px;
  bottom: 24px;
  padding-top: 24px;
  margin-bottom: 0;
  z-index: 998;
}
.card-block {
    padding: 10px;
    margin: 0px;
    vertical-align: bottom;
}
h4.card-title{
  text-align: center;
}
.card-block p{
    text-align: center;
}
ul {
  list-style-type: none;
}
.card-image.solid-color {
  background-color: #03a9f4;
}
.btn.btn-fab.btn-card {
  margin-top: -50px;

}
