<div id="add-device-form" class="modal fade" tabindex="-1" style="display: none;">
  <div class="modal-dialog">
    <div class="modal-content">
      <form>
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h3 class="modal-title">New Device</h3>
        </div>
        <div class="modal-body">
          <div class="form-group label-floating">
            <label for="i1" class="control-label">Name</label>
            <input type="text" class="form-control" id="i1" placeholder="New Device">
          </div>

          <div class="form-group label-floating">
            <label for="i2" class="control-label">Description</label>
            <input type="text" class="form-control" id="i2" placeholder="What does this device do?">
          </div>

          <div class="form-group label-static">
            <label for="i3" class="control-label">Local IP Address:</label>
            <input type="text" class="form-control" id="i3" placeholder="127.0.0.1">
          </div>

          <div class="form-group label-static">
            <label for="i4" class="control-label">Trigger:</label>
            <input type="text" class="form-control" id="i4" placeholder="TODO">
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>
